/* 全局设置 starts */
.white_box {
    height: 4rem;
}

.leftBar {
    position: relative;
    float: left;
    width: 30rem;
    height: 30rem;
    /* background-color: rgb(192, 243, 235); */
}
.rightBar {
    position: relative;
    top: 1rem;
    left: 3rem;
    float: left;
    width: 60rem;
    height: 43rem;
    overflow: hidden;
}
.roll_contents {
    height: 100vh;
    width: 100vw;
}
/* 全局设置 ends  */

/* 右侧内容 starts */
.rightContents {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
}
.rightContents li {
    position: relative;
    float: left;
    width: inherit;
    height: inherit;
}

/* 右侧内容 ends  */

/* 左侧目录栏 starts */
.leftContents {
    position: absolute;
    top: 6rem;
    left: 20rem;
}

.leftContents li {
    position: relative;
    font-size: 24px;
    background: linear-gradient(90deg, rgba(210, 247, 243, 0.8), #32ee96, rgb(132, 210, 241), rgba(210, 247, 243, 0.8));
    background-size: 400%;
    width: 200px;
    height: 70px;
    margin: 20px 0;
    border-radius: 40rem;
    z-index: 1;
    cursor: pointer;
}
.leftContents li::before {
    content: "";
    position: relative;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, rgb(13, 224, 179), #32ee96, rgb(132, 210, 241), rgba(210, 247, 243, 0.8));
    background-size: 400%;
    border-radius: 50px;
    filter: blur(50px);
    z-index: -1;
}
.leftContents li:hover::before {
    animation: sun 8s infinite;
}
.leftContents li:hover {
    animation: sun 6s infinite;
}
/* 动画效果 */
@keyframes sun {
    100%{
        background-position: -400% 0;
    }
}

.p-out {
    position: absolute;
    left: 5rem;
    top: 0rem;
    font-family:'ChannelSlanted2';
    font-size: 4rem;
    color: #008891;
}

.p-over {
    position: absolute;
    left: 5rem;
    top: 0rem;
    font-family:'ChannelSlanted2';
    font-size: 4rem;
    color: #00adb5;
}

.current {
    background-color: rgb(245, 245, 245);
    width: 200px;
    height: 70px;
    margin: 5px 0;
}
.mouseover_li {
    background-color: rgb(240, 236, 181);
    width: 200px;
    height: 70px;
    margin: 5px 0;
}


/* 左侧目录栏 ends  */

/* 盒子内容 statrs */

/* 第一个版面 */
.contents_1 {
    height: inherit;
    width: inherit;
}
.leftImg {
    float: left;
    width: inherit;
    height: inherit;
    background: linear-gradient(90deg, 
            rgb(255, 255, 255), 
            rgb(226, 250, 248), 
            rgb(226, 250, 248), 
            rgb(226, 250, 248), 
            rgba(176, 251, 229, 0.8)
    );
}

.pytorch-logo {
    position: absolute;
    top: 4rem;
    left: 26rem;
    width: 100px;
    height: 100px;
}
.pytorch-logo img {
    width: 10rem;
    height: 10rem;
}

.pytorch {
    position: absolute;
    top: 4rem;
    left: 38rem;
    width: 16rem;
    height: 4rem;
}

.learning {
    position: absolute;
    top: 9rem;
    left: 38rem;
    width: 16rem;
    height: 4rem;
}

.line_1 {
    position: absolute;
    top: 6.5rem;
    left: 35rem;
    width: 23rem;
    height: 2rem;
}

.line_2 {
    position: absolute;
    top: 12rem;
    left: 35rem;
    width: 23rem;
    height: 2rem;
}

.two {
    position: absolute;
    top: 15rem;
    left: 49.6rem;
    width: 2rem;
    height: 4rem;
}

.three {
    position: absolute;
    top: 15rem;
    left: 52rem;
    width: 2rem;
    height: 4rem;   
}

.line1 {
    position: absolute;
    top: 14rem;
    left: 47rem;
    width: 1rem;
    height: 7rem;
}

.text {
    position: absolute;
    top: 16rem;
    left: 38rem;
    width: 10rem;
    height: 4rem;
    font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: rgb(107, 101, 101);
    line-height: 26px;
}

.title {
    position: absolute;
    top: 21rem;
    left: 44rem;
    width: 20rem;
    height: 3rem;
}
.title h3 {
    font-family:'HelveticaNeue';
    font-size: 2rem;
    color: rgb(179, 177, 177);

}

.text-1 {
    position: absolute;
    top: 25rem;
    left: 35rem;
    width: 24rem;
    height: 3rem;
}
.text-1 p {
    font-family:'Jackey_HandWrite';
    font-size: 1.4rem;
    color:rgb(108, 119, 118);
}
/* 第一个版面 ends */

/* 第二个版面 starts */
.contents_2 {
    height: inherit;
    width: inherit;
    background: linear-gradient(90deg, 
            rgba(210, 252, 248, 0.733), 
            rgb(198, 248, 244), 
            #a2e6d2c5, 
            #28b5b5a2, 
            #00879193
    );

}
.contents_2 h1 {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-family:'COCOGOOSE';
    font-size: 2.4em;
    letter-spacing: 0.04em;
    border-bottom: 3px solid #ccc;
    color: #00587a;
}
.date {
    position: absolute;
    top: 3em;
    left: 44em;
    width: 6em;
    height: 6em;
    border-left: 3px solid #ccc;
}
.date p:nth-of-type(1) {
    font-family:'ClarendonSteD-ExtrBold';
    font-size: 5em;
    letter-spacing: 0.04em;
    color: #00587a;
}
.article p {
    position: absolute;
    top: 13em;
    left: 3em;
    width: 40em;
    height: 10em;
    font-family:'Aller';
}

/* 第二个版面 ends */


/* 第三个版面 starts */
.contents_3 {
    height: inherit;
    width: inherit;
    background: linear-gradient(90deg, 
            rgba(210, 252, 248, 0.733), 
            rgb(198, 248, 244), 
            #a2e6d2c5, 
            #28b5b5a2, 
            #00879193
    );

}

.whiteBox {
    position: absolute;
    top: 6rem;
    left: 31rem;
    width: 24rem;
    height: 7rem;
    border-radius: 30em;;
    background-color: #e7e7dea8;
}

.h1_1 {
    position: absolute;
    top: 3rem;
    left: 28rem;
    font-family:'COCOGOOSE';
    font-size: 3.4em;
    letter-spacing: 0.04em;
    color: #00587a;
}

.h1_2 {
    position: absolute;
    top: 8rem;
    left: 33rem;
    font-family:'COCOGOOSE';
    font-size: 2.6em;
    letter-spacing: 0.04em;
    color: #008891;
}

.contents_3 p {
    position: absolute;
    top: 14em;
    left: 14em;
    width: 39em;
    height: 10em;
    font-family:'Aller';
    text-align: right;
}
/* 第三个版面 ends */

/* 盒子内容 ends */ 