<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd"
>

    <!--  1. 注解驱动  -->
    <mvc:annotation-driven/>

    <!--  2. 静态资源过滤 -->
    <mvc:default-servlet-handler/>

    <!--  3. 扫描包  -->
    <context:component-scan base-package="com.quan.controller"/>


    <!-- JSON乱码问题解决 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!--  4. 视图解析器  -->
    <!--  jsp：InternalResourceViewResolver
          HTML：FreeMarkerViewResolver
    -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="prefix" value="/statics/"/>
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html"/>
    </bean>

    <!--  jsp 视图解析器 InternalResourceViewResolver  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/><!-- 优先级 -->
    </bean>

    <!--  html 视图解析器 FreeMarkerConfigurer  -->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/"/><!-- HTML文件位置 -->
        <property name="defaultEncoding" value="utf-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="default_encoding">UTF-8</prop>
                <!--<prop key="number_format">#.##</prop>-->
            </props>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="suffix" value=".html"/>
        <property name="order" value="0"/><!-- 优先找HTML -->
        <property name="contentType" value="text/html;charset=UTF-8"/><!-- 解决网页中文乱码的问题 -->
    </bean>



    <!--  SpringMVC 拦截器  -->
    <mvc:interceptors>
        <!-- 登录拦截 -->
        <mvc:interceptor>

            <!-- 拦截的路径 -->
            <!-- /* 只包括下一级，如 /test/* 会拦截 /test/t1，但不会拦截 /test/t/t2 -->
            <!-- /** 包括路径下所有！ -->
            <mvc:mapping path="/**"/>

            <!-- 排除所有静态资源 -->
            <mvc:exclude-mapping path="/logInPage.html"/>
            <mvc:exclude-mapping path="/component/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <!-- 使用哪个拦截器 -->
            <bean class="com.quan.config.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>